<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>formpage</title>
  </head>
  <body>
<div class="container mt-3">
    <div class="alert alert-warning" role="alert">
  STUDENTS FORM
</div>
<br>
<!--THIS FORM STARTS HERE AND ITS MANDATORY-->

    <form method="post" action="/">{% csrf_token %}



        <div class="form-group">
    <label >USN</label>
    <input type="number" class="form-control" id="usn" name="usn" placeholder="ENTER USN">
  </div>

        <div class="form-group">
    <label >NAME</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="ENTER FULL NAME">
  </div>

        <div class="form-group">
    <label >SEMESTER</label>
    <input type="number" class="form-control" id="semester" name="semester" placeholder="ENTER SEMESTER">
  </div>

        <div class="form-group">
    <label >MOBILE</label>
    <input type="number" class="form-control" id="mobile" name="mobile" placeholder="ENTER MOBILE NUMBER">
  </div>

        <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>


  <button type="submit" class="btn btn-danger">Submit</button>
</form>
<br>


      <h1> END OF THE FORM</h1>

  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>